html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  width: auto;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#board {
  display: flex;
  width: fit-content;
  height: fit-content;
  flex-flow: column nowrap;
  border: solid black 1px;
}

.row {
  display: flex;
}

.square {
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  border: solid red 1px;
}
